## Pandas DataFrames I


### University of Virginia
### DS 5100: Programming for Data Science
### Last Updated: April 23, 2021
---  


### PREREQUISITES
- variables
- data types
- operators
- list comprehensions (not essential)
- numpy arrays (not essential)


### SOURCES 
- ten minutes to pandas  
https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html


- sort_values()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html


- value_counts()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html


- to_csv() : saving to CSV file  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html


- read_csv() : load CSV file into DataFrame  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html


- dropna() : drop missing data  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html


- fillna() : impute missing data  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html




### OBJECTIVES
- Introduce pandas dataframes and the essential operations
 


### CONCEPTS

- DataFrame
- Creating DataFrames
- Copy: shallow vs deep
- Appending columns
- Slicing or subsetting by location, label (name)
- Boolean indexing
- Sorting
- Handling missing data
- Statistics

---

## Introducting to Pandas DataFrames

Pandas DataFrames were modeled from R Data Frames.

- They hold rectangular data (columns are equal length)
- Can hold mixed data types, but each column has same type
- Contains three attributes:
  - index (a column of index values; can use to sort, subset data)
  - columns
  - values (as a numpy array)

Pandas `Series` holds a single column of data.  

For shorthand, `df` will refer to pandas DataFrames.  

DataFrames can be created with pandas.    
Various formats (`csv`,`json`,...) can be loaded into DataFrames.   

The [ten minutes to pandas link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) above gives a good, brief overview of pandas. Be sure to review.

Import pandas like this, where the alias `pd` is convention:

In [1]:
import pandas as pd

## Creating DataFrames

Several ways to create pandas dataframes

- Passing a dictionary of objects:

In [2]:
# x, y, z are lists in the dict

df = pd.DataFrame({'x':[0,2,1,5], 'y':[1,1,0,0], 'z':[True,False,False,False]})
df

   x  y      z
0  0  1   True
1  2  1  False
2  1  0  False
3  5  0  False

In [3]:
print('attributes of df:')
print('index          :', df.index)
print('columns        :', df.columns)
print('data           :\n', df.values)
print('               ')
print('type(df.values):', type(df.values))

attributes of df:
index          : RangeIndex(start=0, stop=4, step=1)
columns        : Index(['x', 'y', 'z'], dtype='object')
data           :
 [[0 1 True]
 [2 1 False]
 [1 0 False]
 [5 0 False]]

type(df.values): <class 'numpy.ndarray'>

In [4]:
df.columns

Index(['x', 'y', 'z'], dtype='object')

- Passing the three required pieces:
  - columns as list
  - index as list
  - data as list of lists

In [5]:
df2 = pd.DataFrame(columns=['x','y'], index=['row1','row2','row3'], data=[[9,3],[1,2],[4,6]])
df2

      x  y
row1  9  3
row2  1  2
row3  4  6

## Copying DataFrames with `copy()`

Use `copy()` to give the new df a clean break from the original.  
Otherwise, the copied df will mirror changes in the original.

In [6]:
df_deep    = df.copy()  # deep copy; changes to df will not pass through
df_shallow = df         # shallow copy; changes to df will pass through

print('--df')
print(df)

# update values in df.x
df.x = 1

print('--Updated df')
print(df)
print('--df_shallow')
print(df_shallow)
print('--df_deep')
print(df_deep)

# rebuild df
df = pd.DataFrame({'x':[0,2,1,5], 'y':[1,1,0,0], 'z':[True,False,False,False]})

--df
   x  y      z
0  0  1   True
1  2  1  False
2  1  0  False
3  5  0  False
--Updated df
   x  y      z
0  1  1   True
1  1  1  False
2  1  0  False
3  1  0  False
--df_shallow
   x  y      z
0  1  1   True
1  1  1  False
2  1  0  False
3  1  0  False
--df_deep
   x  y      z
0  0  1   True
1  2  1  False
2  1  0  False
3  5  0  False

Notice `df_shallow` mirrors changes to `df`, since it references its indices and data.  
`df_deep` does not reference `df`, and so changes `to` df do not impact `df_deep`.

## Show the data type of each column:

In [7]:
df.dtypes

x    int64
y    int64
z     bool
dtype: object

In [9]:
?df.dtypes

## Column Renaming

Can rename one or more fields at once using a dict.  

Rename the field `z` to `is_label`:

In [8]:
df = df.rename(columns={'z':'is_label'})
df

   x  y  is_label
0  0  1      True
1  2  1     False
2  1  0     False
3  5  0     False

## Column Referencing

Can use bracket notation or dot notation.  

- bracket notation: variable name must be a string

In [10]:
df['x']

0    0
1    2
2    1
3    5
Name: x, dtype: int64

- dot notation: variable is NOT a string.

In [11]:
# shows index and x values

df.x

0    0
1    2
2    1
3    5
Name: x, dtype: int64

show values only (can use dot or bracket notation):

In [12]:
df.x.values

array([0, 2, 1, 5])

show only the first value, by indexing:

In [13]:
df.x.values[0]

0

**List comprehensions are very useful for selecting columns**

---

Brief aside on list comprehensions:  
- they take a list as input and return a list as output
- they transform each element
- they can apply one or more filters (if-statements)

In [14]:
# keep odd values from list
lst = [1,2,3,4,5]
[x for x in lst if x % 2 == 1]

[1, 3, 5]

In [15]:
# even
[x for x in lst if x % 2 == 0]

[2, 4]

In [16]:
# squared evens
[x ** 2 for x in lst if x % 2 == 0]

[4, 16]

In [17]:
# retain elements containing 'ind'

f = ['f1_ind','f2_ind','f3_ind','f1','f2','f3']
[x for x in f if 'ind' in x]

['f1_ind', 'f2_ind', 'f3_ind']

---

In [19]:
# create a new df by selecting columns that are NOT: x, y

df3 = df[[col for col in df.columns if col not in ['x','y']]]
df3

   is_label
0      True
1     False
2     False
3     False

### TRY FOR YOURSELF (UNGRADED EXERCISES)

1) Create a dataframe called `dat` by passing a dictionary of inputs. Here are the requirements:
- has a column named `features` containing floats
- has a column named `labels` containing integers 0, 1, 2  

Print the df.

In [21]:
dat = pd.DataFrame({'features':[9.6,8.2,7.0,8.5,9.4], 'labels':[1,3,4,2,3]})
dat

   features  labels
0       9.6       1
1       8.2       3
2       7.0       4
3       8.5       2
4       9.4       3

In [ ]:
dat = pd.DataFrame({'features':[0.2,-1.1,1.6, 5.4], 'labels':[1,1,0,2]}) 
dat

2) Rename the `labels` column in `dat` to `label`.

In [ ]:
dat.rename(columns={'labels':'label'})

In [ ]:
dat = dat.rename(columns={'labels':'label'})
dat

## Appending New Columns

It is typical to create a new column from existing columns.  
In this example, a new column (or field) is created by summing `x` and `y`:

In [22]:
df['x_plus_y'] = df.x + df.y
df

   x  y  is_label  x_plus_y
0  0  1      True         1
1  2  1     False         3
2  1  0     False         1
3  5  0     False         5

Notice the components:

- the left side has form: DataFrame name, bracket notation, new column name
- the assignment operator `=` is used
- the right side contains an expression; here, two df columns are summed

Bracket notation also works on the fields, but it's more typing:

In [ ]:
df['x_plus_y'] = df['x'] + df['y']
df

The bracket notation must be used when assigning to a new column. This will break:

In [ ]:
df.'x_plus_y' = df.x + df.y

---

## Load Iris Dataset to Illustrate More Functionality

The function `load_dataset()` in the `seaborn` package loads the built-in dataset.

In [23]:
import seaborn as sns

iris = sns.load_dataset('iris')

Check the data type of `iris`:

In [24]:
type(iris)

pandas.core.frame.DataFrame

**Always a good idea to inspect the data**

first few records:

In [25]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

last few records:

In [26]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Column data types

In [27]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

shape (rows, columns):

In [28]:
iris.shape

(150, 5)

alternatively, `len()` returns row (record) count:

In [29]:
len(iris)

150

column names:

In [30]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

dataframe index:

In [31]:
iris.index

RangeIndex(start=0, stop=150, step=1)

## Subsetting

Pandas subsetting is very flexible. The flexibility is useful, but can be confusing.  
Regular practice will help.

Subsetting (or slicing) a dataframe produces a new dataframe.

Extract a column

In [32]:
iris.sepal_length.head()

# alternatively,
# iris['sepal_length'].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

Extract subset of columns, saving into new df:

In [34]:
# desired columns are list of strings

lengths = iris[['sepal_length','petal_length']]
lengths.head(3)

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3

head() of data, as reminder

In [35]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### `iloc()`

Extracting rows using **indices** with `iloc()`. This fetches row 3, and all columns.

In [36]:
iris.iloc[2]

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

fetch rows with indices 1,2 (the right endpoint is exclusive), and all columns.

In [37]:
iris.iloc[1:3]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

fetch rows with indices 1,2 and first three columns (positions 0, 1, 2)

In [38]:
iris.iloc[1:3, 0:3]

   sepal_length  sepal_width  petal_length
1           4.9          3.0           1.4
2           4.7          3.2           1.3

In [39]:
#first three column names

iris.columns[0:3]

Index(['sepal_length', 'sepal_width', 'petal_length'], dtype='object')

### `loc()`

Subsetting on a df can also be done with `loc()`. This uses the row, column labels (names).

Here we ask for rows with labels (indexes) 1-3, and it gives exactly that  
`iloc()` returned rows with indices 1,2.

In [40]:
iris.loc[1:3]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

Subset on columns with column name (as a string) or list of strings

In [41]:
iris.loc[1:3, ['sepal_length','petal_width']]

   sepal_length  petal_width
1           4.9          0.2
2           4.7          0.2
3           4.6          0.2

Select all rows, specific columns

In [42]:
iris.loc[:, ['sepal_length','petal_width']]

     sepal_length  petal_width
0             5.1          0.2
1             4.9          0.2
2             4.7          0.2
3             4.6          0.2
4             5.0          0.2
..            ...          ...
145           6.7          2.3
146           6.3          1.9
147           6.5          2.0
148           6.2          2.3
149           5.9          1.8

[150 rows x 2 columns]

In [45]:
df_cat = pd.DataFrame(index=['Persian','Burmese','Maine Coone'], columns=['x'],data=[2,1,3])
df_cat

             x
Persian      2
Burmese      1
Maine Coone  3

In [47]:
df_cat.loc[['Burmese','Maine Coone']]

             x
Burmese      1
Maine Coone  3

### Boolean Indexing: Subsetting based on Conditions

It's very common to subset a dataframe based on some condition on the data

In [49]:
# boolean mask

iris.sepal_length >= 7.5

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: sepal_length, Length: 150, dtype: bool

In [50]:
iris[iris.sepal_length >= 7.5]

     sepal_length  sepal_width  petal_length  petal_width    species
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [51]:
# multiple conditions
# must use | & bitwise in conditional df selections

iris[(iris['sepal_length']>=4.5) & (iris['sepal_length']<=4.7)]

    sepal_length  sepal_width  petal_length  petal_width species
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
22           4.6          3.6           1.0          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa
47           4.6          3.2           1.4          0.2  setosa

Illustrate the `Boolean mask` by assigning earlier condition to variable:

In [ ]:
# show the sepal_length values

iris.sepal_length.values

In [ ]:
# assign the mask and show the bool values

mask = iris.sepal_length >= 7.5
mask.values

In [ ]:
# extract the True values

iris.sepal_length[mask].values

In summary, the mask will return True/False for each value.  
Subsetting on the mask will return only the values where mask value is True

## Working with Missing Data

Pandas primarily uses np.nan (from `numpy`) to represent missing data.

In [ ]:
import numpy as np

df_miss = pd.DataFrame({'x':[2, np.nan, 1], 'y':[np.nan, np.nan, 6]})
df_miss

**`dropna()` will drop missing**

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)

In [ ]:
# drop all missing data

df_drop_all = df_miss.dropna()
df_drop_all

In [ ]:
# drop records where column: x has np.nan

df_drop_x = df_miss.dropna(subset=['x'])
df_drop_x

**`fillna()` fills missing**

Can fill with values, statistic. 

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

Example to impute each column with its median:

In [ ]:
df_filled = df_miss.fillna(df_miss.median())
df_filled

## Sorting

Sort by values
- `by` parameter takes string or list of strings
- `ascending` takes True or False
- `inplace` will save sorted values into the df

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

In [ ]:
iris.sort_values(by=['sepal_length','petal_width'])

Sort by index. Example sorts by descending index

In [ ]:
iris.sort_index(axis=0, ascending=False)

## Statistical Summary of a DataFrame using `describe()`

In [ ]:
iris.describe()

In [ ]:
iris.species.describe()

In [ ]:
iris.sepal_length.describe()

## Column Frequency using `value_counts()`

This is a highly useful function for showing the frequency for each distinct value.  
Parameters give the ability to sort by count or index, normalize, and more.  

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [ ]:
iris.species.value_counts()

In [ ]:
# show percentages instead of counts

iris.species.value_counts(normalize=True)

## Statistics

Operations generally exclude missing data.

Some of the stats are shown here.

In [ ]:
iris.sepal_length.mean()

In [ ]:
iris.sepal_length.max()

In [ ]:
# standard deviation

iris.sepal_length.std()

Correlation (default=pearson) can be computed on two fields by subsetting on them:

In [ ]:
iris[['sepal_length','petal_length']].corr()

In [ ]:
# corr on three columns

iris[['sepal_length','petal_length','sepal_width']].corr()

In [ ]:
# full correlation matrix

iris.corr()

## Visualization

Scatterplot using `seaborn` on the df columns `sepal_length`, `petal_length`.

Visualization will be covered separately in more detail.

In [ ]:
fig = sns.scatterplot(x=iris.sepal_length, y=iris.petal_length)
fig.grid()

## Save to CSV File

Common to save df to a csv file. The full path (path + filename) is required.  

Common optional parameters:
- `sep` - delimeter
- `index` - saving index column or not

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
iris.to_csv('./iris_data.csv')

## Deleting (Dropping) Columns

`del` can drop a DataFrame or single columns from the frame

In [ ]:
iris.head(2)

In [ ]:
del iris['sepal_width']

In [ ]:
iris.head(2)

`drop()` can drop one or more columns

takes `axis` parameter:
- axis=0 refers to rows  
- axis=1 refers to columns

In [ ]:
iris = iris.drop(['sepal_length', 'species'], axis=1)
iris.head(2)

## Read from CSV File

`read_csv()` reads from csv into DataFrame

takes full filepath

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [ ]:
iris_loaded = pd.read_csv('./iris_data.csv')

In [ ]:
iris_loaded.head(2)

---

### TRY FOR YOURSELF (UNGRADED EXERCISES)

3) Sort the iris dataset by species, descending

In [ ]:
iris_sort = iris.sort_values(by=['species'], ascending=False)
iris_sort

4) Filter the iris dataset to show only species='setosa', and save to df called `setosa`.  
Next, call the `value_counts()` function on `setosa.species` to show the only species in the df is setosa.

In [ ]:
setosa = iris[iris.species=='setosa']
setosa.species.value_counts()

5) Print the number of records in iris where petal_length <= 1.4 or petal_length >= 1.6  
Hint1: check how to implement "or" in pandas  
Hint2: subset using boolean indexing, and count the number of resulting records with `len()`

In [ ]:
len(iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)])

---